// LIBRARIES
//$fa-font-path: '../../vendor/bower/font-awesome/fonts';
//@import '../../vendor/bower/font-awesome/scss/font-awesome';


@import 'bourbon';
//@import 'mixin';


$fa-font-path: '/fonts';
@import 'vendor/bower/font-awesome/scss/font-awesome';


// Blue
$main_color: #0066B2;
$hover_color: #b51f1c;

//@import 'theme/variables';
//@import 'theme/mixins';
@import 'theme/global';
